.board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    box-sizing: border-box;
}

.board-inner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 300px) 20px;
    gap: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.spacer {
    width: 20px;
    height: 100%;
}

