@font-face {
  font-family: "IBMPlexMono";
  src: url("@/assets/fonts/IBMPlexMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans Bold";
  src: url("@/assets/fonts/IBMPlexMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans Medium";
  src: url("@/assets/fonts/IBMPlexMono-Medium.ttf") format("truetype");
}


:root {
  box-sizing: border-box;
  font-family: "IBMPlexMono" ,Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --font-regular: "IBMPlexMono";
  --font-bold: "IBMPlexSans Bold";
  --font-medium: "IBMPlexSans Medium";

  /* Colors */
  --primary-color: #6b46c1;         /* Main purple */
  --primary-light: #9f7aea;         /* Light purple */
  --primary-dark: #553c9a;          /* Dark purple */
  --primary-hover: #805ad5;         /* Purple hover state */
  --primary-transparent: rgba(107, 70, 193, 0.1); /* Transparent purple */
  --secondary-blue-light: #b794f4;   /* Soft lavender */
  --neutral-gray: #f9f9f9;
  --accent-medium: #9061f9;           /* Purple-tinted success */
  --accent-light: #d6bcfa;          /* Soft purple highlight */
  --accent-red: #b83280;             /* Purple-tinted error */

  --shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-hover);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: var(--primary-light);
  }
  button {
    background-color: #f9f9f9;
  }
}
